@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;700&family=Geist:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Geist', sans-serif;
  background: #131313;
  color: #e5e2e1;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}
